ParkProject/WebContent/wsdl/SlotServiceImplementation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.parking.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.parking.com" xmlns:intf="http://services.parking.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.parking.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="setParkingSlotTaken">
    <complexType>
     <sequence>
      <element name="parkingSlotID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setParkingSlotTakenResponse">
    <complexType>
     <sequence>
      <element name="setParkingSlotTakenReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="setParkingSlotFree">
    <complexType>
     <sequence>
      <element name="parkingSlotID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setParkingSlotFreeResponse">
    <complexType>
     <sequence>
      <element name="setParkingSlotFreeReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="setParkingSlotTakenRequest">

      <wsdl:part element="impl:setParkingSlotTaken" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setParkingSlotFreeResponse">

      <wsdl:part element="impl:setParkingSlotFreeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setParkingSlotTakenResponse">

      <wsdl:part element="impl:setParkingSlotTakenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setParkingSlotFreeRequest">

      <wsdl:part element="impl:setParkingSlotFree" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SlotServiceImplementation">

      <wsdl:operation name="setParkingSlotTaken">

         <wsdl:input message="impl:setParkingSlotTakenRequest" name="setParkingSlotTakenRequest">

       </wsdl:input>

         <wsdl:output message="impl:setParkingSlotTakenResponse" name="setParkingSlotTakenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setParkingSlotFree">

         <wsdl:input message="impl:setParkingSlotFreeRequest" name="setParkingSlotFreeRequest">

       </wsdl:input>

         <wsdl:output message="impl:setParkingSlotFreeResponse" name="setParkingSlotFreeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SlotServiceImplementationSoapBinding" type="impl:SlotServiceImplementation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setParkingSlotTaken">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setParkingSlotTakenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setParkingSlotTakenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setParkingSlotFree">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setParkingSlotFreeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setParkingSlotFreeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SlotServiceImplementationService">

      <wsdl:port binding="impl:SlotServiceImplementationSoapBinding" name="SlotServiceImplementation">

         <wsdlsoap:address location="http://localhost:8080/ParkProject/services/SlotServiceImplementation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
